.project
.classpath
.settings/**/*

target/**.*
build/**.*
bin/**.*

*.class
*~
/email-forwarding-app/target/
/email-forwarding-app/target/**/*
/camel-agent-component/target/
/camel-agent-component/target/**/*
/bin/
